

#un-produit
{
    background: linear-gradient(to bottom, rgb(244, 237, 237), white);
}


#image-produit img
{
    width: 100%;
   height: 100%;
}

#image-produit 
{
   width: 100%;
   height: 100%;
   margin-left: auto;
   margin-right: auto;
}
#prix-produit
{
    color: orange;
    text-align: right;
    font-size: 12px;
    

}
#nom-produit
{
    font-size: 12px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.produit .col-3
{
    margin-bottom: 10px;
}


/*---------------footer---------------*/

